@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');

* {
    font-family: 'Pixelify Sans', sans-serif;
}

body {
    background-color: #FFDD00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
}

.auth-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 320px;
}

.auth-container .logo {
    margin-bottom: 10px;
    text-align: center;
}

.logo img {
    height: 100px;
}

.auth-container h2 {
    margin-bottom: 2rem;
    margin-top: 0px;
    text-align: center;
}

.auth-container h3 {
    margin-bottom: 0.3rem;
    font-size: 14px;
}

.auth-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 0.3rem;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #FFDD00;
}

.auth-container button {
    width: 100%;
    padding: 10px;
    margin-top: 2rem;
    background-color: #A054E3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-container button:hover {
    background-color: #711abc;
    transform: scale(1.03);
    box-shadow: 0 0 15px #FFDD00, 0 0 5px #FFDD00;
    transition: transform 0.2s, box-shadow 0.2s;
}

.auth-container .link {
    text-align: center;
    margin-top: 1rem;
}

.auth-container .link a {
    color: #4285f4;
    text-decoration: none;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    text-align: center;
} 